# Public key from Chec's demo merchant account. This client key will enable you to deploy a live preview with
# Netlify's one-click deploy. Replace this key with your own account's public key afterwards.
NEXT_PUBLIC_CHEC_PUBLIC_KEY=pk_test_211680b46ba808267b9c90475b54e3bccd94852a81e82
# Set the environment for your application, e.g. "development"
NODE_ENV=production
# If you're using Stripe, add your publishable key here
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
# Secret key is used with chec/seeder to access your Chec account to seed it with sample data
CHEC_SECRET_KEY=sk_test_2116826135d1ac538e6c715de6ceb5872016e926944c8
CHEC_API_URL=https://api.chec.io
